.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  background-color: #6495ED;
}

.right-col {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  padding: 10px;
}

.left-col {
  margin: 10px;
  height: 100vh - 10px;
}

.cyan-bg {
  background-color: teal;
}

.green-bg {
  background-color: lime;
}

.left-box {
  margin: 10px;
  height: 15vh;
}

.right-col-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right-box {
  margin: 10px;
  flex-grow: 1;
  height: 100%;
}

.yellow-bg {
  background-color: yellow;
  height: 50%;
  margin: 10px;
}

@keyframes square-anim {
  from {background-color: red;}
  to {background-color: white;}
}

.square {
  height: 100px;
  width: 100px;
  background-color: red;
  border: red solid 2px;
  animation: square-anim 2s linear 1s 2 normal;
}
