body {
  margin: 0;
  font-size: 24px;
}

header {
  background-color: pink;
  color: black;
  width: 100%;
  height: 20vh;
  line-height: 20vh;
  text-align: center;
  border: 2px solid black;
}

.container {
  display: flex;
}

.vertical-text {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-align: center;
  padding-top: 30vh;
  transform: scale(-1) translate(-200%, -40%);
}

.left-sidebar, .right-sidebar {
  border: 2px solid black;
  width: 20%;
  background-color: orange;
  height: 60vh;
}

.left-sidebar {
  background-color: orange;
  height: 60vh;
}

.center {
  flex-grow: 1;
  background-color: cyan;
  border: 2px solid black;
}

.footer-container {
  display: flex;
}

footer {
  border: 2px solid black;
  width: 100%;
  height: 20vh;
  text-align: center;
  line-height: 20vh;
}

.first-footer {
  background-color: silver;
}

.second-footer {
  background-color: dimgray;
}
